/**
* Site wide default styles 
**/

// src: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

body {
 font-family: $base-font-family;
 color: black;
}
//background color: #9DA138//
//hover color: #75A319//

