#login-view form input {
  background-color:transparent;
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid #8B8543;
  color:#C2BFAD;
  display:inline-block;
  padding:4px;
  width:140px;
}

.login{
	display: inline-block;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* Text Box */
.boxed {
	text-align: center;
	background-color: #9DA138;
	color: white;
	display: block;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 3px;
	padding: 3px;
	width: 65px;
}

.boxed:hover{
	color: white;
	background-color: #75A319;
}
